<footer>
  <div class="footer-container">
    <p data-key="footer-copyright">
      &copy; 2025 EGGS-Studio. Todos los derechos reservados.
    </p>
    
    <ul class="footer-links">
      <li>
        <a data-key="footer-inicio" href="/ES/index.html">Inicio</a>
      </li>
      <li>
        <a data-key="footer-contacto" href="/ES/contacto.html">Contacto</a>
      </li>
    </ul>
    
    <div class="footer-social">
      <a href="https://www.facebook.com/ART.EGarnica" target="_blank">
        <img 
          src="https://img.icons8.com/ios-filled/50/ffffff/facebook--v1.png" 
          alt="Facebook"
        >
      </a>
      <a href="https://www.instagram.com/egarnicasanchez" target="_blank">
        <img 
          src="https://img.icons8.com/ios-filled/50/ffffff/instagram-new.png" 
          alt="Instagram"
        >
      </a>
    </div>
  </div>
</footer>

