<!-- Header Image -->
<div class="site-masthead" aria-label="EGGS-Studio">
  <img src="/assets/img/eggs-logo-header-05.jpg" alt="EGGS-Studio" class="site-masthead__image">
</div>

<nav class="navbar" role="navigation" aria-label="Mapudungun menu">
  <div 
    class="nav-toggle" 
    id="nav-toggle"
    role="button"
    tabindex="0"
    aria-expanded="false"
    aria-controls="nav-menu"
    aria-label="Nülange menu"
  >
    <span></span>
    <span></span>
    <span></span>
  </div>

   <ul class="nav-menu" id="nav-menu" role="menu">
    <li class="nav-logo" role="none">
      <a href="/MPD/index.html" aria-label="Landing EGGS-studio">
        <img src="/assets/img/EGGSLOGOindex1.png" alt="Logo" class="logo-menu">
      </a>
    </li>
    <li role="none"><a href="/MPD/index.html" role="menuitem">Wünen</a></li>

    <li class="dropdown" role="none">
      <a href="/MPD/mundo-exterior.html" role="menuitem" aria-haspopup="true" aria-expanded="false">Wallmapu ñi azentun</a>
      <ul class="dropdown-menu" role="menu">
        <li class="dropdown-sub" role="none">
          <a href="/MPD/tangible.html" role="menuitem" aria-haspopup="true" aria-expanded="false">Kalül mew</a>
          <ul class="dropdown-menu-sub" role="menu">
            <li role="none"><a href="/MPD/saturacion.html" role="menuitem">Fentepun</a></li>
            <li role="none"><a href="/MPD/en-construccion.html" role="menuitem">Teknologia</a></li>
          </ul>
        </li>
        <li class="dropdown-sub" role="none">
          <a href="/MPD/intangible.html" role="menuitem" aria-haspopup="true" aria-expanded="false">Püllü mew</a>
          <ul class="dropdown-menu-sub" role="menu">
            <li role="none"><a href="/MPD/imagenes-capitalismo.html" role="menuitem">Capitalismo ñi pu az</a></li>
            <li role="none"><a href="/MPD/imagenes-popular.html" role="menuitem">Pu che ñi pu az</a></li>
            <li role="none"><a href="/MPD/imagenes-ancestros.html" role="menuitem">Kuifikeche ñi pu az</a></li>
          </ul>
        </li>
      </ul>
    </li>

  <li class="dropdown" role="none">
  <a href="/MPD/accion.html" role="menuitem" aria-haspopup="true" aria-expanded="false">Mapu mew küdaw</a>
  <ul class="dropdown-menu" role="menu">
    <li class="dropdown-sub" role="none">
      <a href="/MPD/comunitario.html" role="menuitem" aria-haspopup="true" aria-expanded="false">Lof mew</a>
      <ul class="dropdown-menu-sub" role="menu">
        <li role="none"><a href="/MPD/muralismo-facilitacion.html" role="menuitem">Kelluwün muralismo</a></li>
        <li role="none"><a href="/MPD/muralismo-festivales.html" role="menuitem">Festivales</a></li>
        <li role="none"><a href="/MPD/muralismo-museos-al-aire-libre.html" role="menuitem">Wente mapu musoe</a></li>
      </ul>
    </li>

    <li class="dropdown-sub" role="none">
      <a href="/MPD/subrepticio.html" role="menuitem" aria-haspopup="true" aria-expanded="false">Ellka küdaw</a>
      <ul class="dropdown-menu-sub" role="menu">
        <li role="none"><a href="/MPD/en-construccion.html" role="menuitem">Graffiti</a></li>
        <li role="none"><a href="/MPD/subrep-antipublicidad.html" role="menuitem">Antipublicidad</a></li>
        <li role="none"><a href="/MPD/subrep-remiendas-urbanas.html" role="menuitem">Waria remiendas</a></li>
      </ul>
    </li>

    <li role="none"><a href="/MPD/docencia.html" role="menuitem">Kimeltun</a></li>

    <li class="dropdown-sub" role="none">
      <a href="/MPD/servicios.html" role="menuitem" aria-haspopup="true" aria-expanded="false">Kellun</a>
      <ul class="dropdown-menu-sub" role="menu">
        <li role="none"><a href="/MPD/servicios.html#restauracion" role="menuitem">Ñamkülechi ñi küme dewün</a></li>
        <li role="none"><a href="/MPD/servicios.html#encargos" role="menuitem">Küdaw ngütram</a></li>
        <li role="none"><a href="/MPD/servicios.html#ambientacion" role="menuitem">Montaje</a></li>
      </ul>
    </li>
  </ul>
</li>


    <li role="none"><a href="/MPD/interior.html" role="menuitem">Püle rakizuam</a></li>
    <li role="none"><a href="/MPD/diagrama.html" role="menuitem">Küdaw ñi azentun</a></li>
    <li role="none"><a href="/MPD/archivo.html" role="menuitem">Archivo</a></li>

    <li class="dropdown">
      <a href="/MPD/mecenas.html" aria-haspopup="true" aria-expanded="false">Kelluwün</a>
      <ul class="dropdown-menu">
        <li><a href="/MPD/musoe-a-cielo-abierto.html">¨Musoe¨ a cielo abierto</a></li>
        <li><a href="/MPD/en-construccion.html">Waria remiendas</a></li>
      </ul>
    </li>

    <li class="dropdown">
      <a href="/MPD/en-construccion.html" aria-haspopup="true" aria-expanded="false">Trafkintu</a>
      <ul class="dropdown-menu">
         <li><a href="/MPD/en-construccion.html">Kiñe müten pieza</a></li>
         <li><a href="/MPD/en-construccion.html">Ediciones</a></li>
        <li><a href="/MPD/en-construccion.html">Prints</a></li>
      </ul>
    </li>

    <li class="dropdown" role="none">
      <a href="/MPD/acerca.html" role="menuitem" aria-haspopup="true" aria-expanded="false">Iñchiñ</a>
      <ul class="dropdown-menu" role="menu">
        <li role="none"><a href="/MPD/garnica.html" role="menuitem">Esteban Gárnica Sanchez</a></li>
        <li role="none"><a href="/MPD/eggs.html" role="menuitem">EGGS-Prods & Art Spa</a></li>
      </ul>
    </li>

    <li role="none"><a href="/MPD/contacto.html" role="menuitem">Nütram</a></li>
    {% assign es_lang_url = page.es_url | default: page.url | replace_first: '/MPD/', '/ES/' %}
    {% assign en_lang_url = page.en_url | default: site.data.language_switch[es_lang_url] | default: '/EN/index.html' %}
    <li class="nav-lang-switch" role="none" aria-label="Dungun dungu">
      <a href="{{ es_lang_url }}" role="menuitem" hreflang="es" lang="es" aria-label="Cambiar idioma a espanol">ES</a>
      <span class="lang-separator" aria-hidden="true">/</span>
      <a href="{{ en_lang_url }}" role="menuitem" hreflang="en" lang="en" aria-label="Switch language to English">EN</a>
      <span class="lang-separator" aria-hidden="true">/</span>
      <span class="lang-current" aria-current="true">MPD</span>
    </li>
  </ul>
</nav>
